body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c3c3c3;
    padding: 10px;
}
header {
    background-color: #3e4e50;
    color: floralwhite;
    text-align: center;
    padding: 10px;
}
header a{
    text-decoration: none;
    color: #f9f9f9;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 14px;
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
img {
    max-width: 400px;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
}
section {
    margin: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px dashed rgb(82, 85, 95);
}
.iframe {
    width: 800px;
    height: 527px;
   border-radius: 14px;
}